.scroll-icon {
  width: 100%;
  color: white;
  font-size: 10px;
  justify-content: center;
  display: flex;
  position: absolute;
  align-items: center;
}

.scroll-icon img {
  padding-right: 10px;
}
