$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

.detail-container-right {
  color: white;
  float: right;
}

.line {
  border: 1px solid white;
  width: 50px;
  margin: 10px 0px;
}

.paragraph {
  width: 550px;
  font-size: 14px;
  height: 100%;
  @media (max-width: $breakpoint-tablet) {
    width: 450px;
  }
}

img {
  float: left;
}

.image-group-left {
  // height needs to be whatever the height of the image is because content within this is absolutely positioned
  height: 400px;
  @media (max-width: $breakpoint-phone) {
    padding-top: 50px;
  }
}

.diagram {
  height: 400px;
}

.extra-padding {
  @media (max-width: $breakpoint-phone) {
    margin-bottom: 100px;
  }
}
