$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

.background {
  height: 100vh;
  width: 100vw;
  &.black {
    background: 1d1e20;
  }
  &.red {
    background: #ce4c4c;
  }
  &.blue {
    background: #1387b9;
  }
  &.yellow {
    background: #e9d92a;
  }
}

.screen-container-detail {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.page-content {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-left: 200px;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: $breakpoint-tablet) {
    padding-left: 50px;
  }
  @media (max-width: $breakpoint-phone) {
    padding-left: 25px;
  }
}

.header-date-type {
  display: flex;
  font-size: 15px;
  align-items: center;
  &.white {
    color: white;
  }
  &.black {
    color: black;
  }
}

.title-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px 20px;
  &.white {
    background: white;
  }
  &.black {
    background: black;
  }
}

.header-title {
  font-size: 75px;
  font-weight: 800;
  @media (max-width: $breakpoint-tablet) {
    font-size: 60px;
  }
  @media (max-width: $breakpoint-phone) {
    font-size: 50px;
  }
  &.white {
    color: white;
  }
  &.black {
    color: black;
  }
}

.header-right {
  display: flex;
  height: 350px;
}

.flag-letter-header {
  opacity: 0.1;
}

.page-heading h2 {
  color: black;
}

.previous {
  color: white;
  padding-left: 15px;
  text-transform: uppercase;
  &:hover {
    color: white;
    opacity: 0.5;
  }
}

.next {
  color: white;
  padding-right: 15px;
  text-transform: uppercase;
  &:hover {
    color: white;
    opacity: 0.5;
  }
}

.black-header-line {
  width: 90%;
  border: 1px solid black;
}

.header-line {
  width: 90%;
  border: 1px solid white;
  @media (max-width: $breakpoint-tablet) {
    width: 80%;
  }
  @media (max-width: $breakpoint-phone) {
    width: 60%;
  }
}
