$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

// will become updated component
.description-one {
  max-width: 800px;
}

.work-sample {
  margin-bottom: 200px;
}

.work-desciptions {
  max-width: 800px;
  text-align: left;
}

.section {
  margin-bottom: 150px;
}

.image-column-groups {
  display: flex;
}

.image-column {
  & img {
    float: none;
    display: flex;
    width: 600px;
    margin: 25px 25px 0px 0px;
  }
}
