.smaller-projects img {
  height: 400px;
}

.videogame-process {
  display: flex;
  position: relative;
  height: auto;
  align-items: center;
  justify-content: center;
}

.videogame-process img {
  width: 50%;
}

.characters {
  display: grid;
  position: relative;
  margin: 200px 0px;
}

.characters img {
  width: 100%;
  margin: 0px -85px;
}

.markhor img {
  float: left;
}

.rhino img {
  float: right;
}

.full-width {
  margin: 200px 0px;
}

.landscape-image {
  overflow: scroll;
  white-space: nowrap;
  margin: 0px -85px;
}

.landscape-image img {
  height: 650px;
}

.landscape-title {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 100px;
}

.scroll {
  width: 100px;
  position: absolute;
  right: 0;
}

.photo-heading {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px;
}
