$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

.smaller-projects img {
  height: 400px;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    height: auto;
  }
}

.videogame-process {
  display: flex;
  position: relative;
  height: auto;
  align-items: center;
  justify-content: center;
}

.videogame-process img {
  width: 50%;
  @media (max-width: $breakpoint-phone) {
    width: 100%;
  }
}

.characters {
  display: grid;
  position: relative;
  margin: 200px 0px;
  @media (max-width: $breakpoint-phone) {
    margin: 0px;
  }
}

.characters img {
  width: 100%;
  margin: 0px -85px;
  @media (max-width: $breakpoint-phone) {
    width: 150%;
    margin: 0px -125px;
  }
}

.markhor img {
  float: left;
}

.rhino img {
  float: right;
}

.full-width {
  margin: 200px 0px;
}

.landscape-image {
  overflow: scroll;
  white-space: nowrap;
  margin: 0px -85px;
}

.landscape-image img {
  height: 650px;
  @media (max-width: $breakpoint-phone) {
    height: 400px;
  }
}

.landscape-title {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 100px;
}

.scroll {
  width: 100px;
  position: absolute;
  right: 0;
}

.photo-heading {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px;
}
