.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 130px;
}

.logo-container {
  padding-top: 210px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.circle-outline {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #0099ff;
  font-size: 36px;
  margin: 0px;
}

.login-page {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  text-align: center;
}

.sub-title {
  color: white;
  font-size: 14px;
}

.login-button {
  background-color: #0099ff;
  border-radius: 25px;
  color: #212237;
  padding: 1em;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 40px;
}

.login-button-container {
  padding-top: 100px;
  padding-bottom: 210px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}