.detail-container-right {
  color: white;
  float: right;
}

.line {
  border: 2px solid white;
  width: 50px;
  margin: 10px 0px;
}

.paragraph {
  width: 550px;
  font-size: 12px;
  height: 100%;
}

img {
  float: left;
}

.image-group-left {
  padding: 250px 0px;
}
