ul {
  position: fixed;
  top: 30%;
  list-style: none;
  height: 100%;
  padding: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

li {
  opacity: 0.5;
}

.is-current {
  color: white;
  opacity: 1;
}

.ux-menu {
  padding-bottom: 15px;
}
