.name-button {
  position: fixed;
  z-index: 20;
}

.text {
  color: white;
  padding: 20px 20px;
}

.name {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 15px 20px;
  padding: 0;
  width: 100%;
  box-shadow: none;
  opacity: 1;

  &:hover {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    opacity: 0.5;
  }
  &.white {
    color: white;
  }
  &.black {
    color: black;
  }
}
