.detail-container {
  color: white;
  padding: 100px 0px;
  height: auto;
}

.line {
  border: 1px solid white;
  width: 50px;
  margin: 10px 0px;
}

.paragraph {
  width: 550px;
  font-size: 14px;
  font-weight: 200;
  height: 100%;
}
