$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

.detail-container {
  color: white;
  padding: 100px 0px;
  height: auto;
  @media (max-width: $breakpoint-phone) {
    padding: 50px 0px;
  }
}

.line {
  border: 1px solid white;
  width: 50px;
  margin: 10px 0px;
}

.paragraph {
  width: 550px;
  font-size: 14px;
  font-weight: 200;
  height: 100%;
  @media (max-width: $breakpoint-phone) {
    width: 350px !important;
  }
}
