.contact-group {
  padding: 25px 85px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact-text {
  width: 70%;
}

.contact-title {
  font-size: 48px;
}

.contact-title h2 {
  margin: 40px 0px;
}

.description {
  font-size: 14px;
}
