.dear-joe {
  margin: auto;
  padding: 100px;
  height: 500px;
}

.dear-joe-image,
.highway-image {
  width: 100%;
}

.viet-research {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
}

.small-carousel {
  width: 600px;
  margin: 0px;
}

.carousel-indicators {
  display: none;
}
