.phone-group {
  display: flex;
  justify-content: space-between;
}

.phone-group img {
  height: 400px;
}

// header customization

// instead of doing this need to create customizable component - aka in the component create a "black" and "white" version that can be called in the js file https://itnext.io/writing-customizable-styled-react-components-51d38ed20461

// .background.change {
//   background-color: #ffef00;
// }

// .title-circle.change {
//   background-color: black;
// }

// .header-year.change,
// .header-type.change,
// .header-title.change,
// .menu-text.change,
// .back.change,
// .previous.change,
// .next.change {
//   color: black;
// }

// .item.change,
// .bm-burger-bars.change {
//   background: black;
// }

// .header-line.change {
//   border: 1px solid black;
// }

// i.change {
//   border-color: black;
// }
