.phone-group {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}

.phone-group img {
  height: 400px;
}

.content-list {
  opacity: 1;
}

.rectangle {
  margin-bottom: 5px;
  width: 650px;
  height: 75px;
  transition: all 0.3s;

  &:hover {
    width: 700px;
  }
}

.ss-one {
  background-color: #e0a939;
}

.ss-two {
  background-color: #b4bd68;
}
.ss-three {
  background-color: #689091;
}
.ss-four {
  background-color: #526b80;
}
.ss-five {
  background-color: #6a5281;
}

.branding {
  display: flex;
  align-items: center;
  padding: 100px 0px;
}

.color-group {
  display: flex;
  position: relative;
  float: right;
  right: -200px;
}

.hex-text {
  color: white;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  padding: 15px 20px;
}

.single-logo {
  width: 200px;
}

.sslogo-group {
  display: block;
}

.ss-logos {
  width: 100%;
}

.value-prop {
  font-size: 48px;
}
