$breakpoint-phone: 420px;
$breakpoint-tablet: 1024px;
$breakpoint-largemonitor: 1600px;

.content-list {
  opacity: 1;
}

.rectangle {
  margin-bottom: 5px;
  width: 650px;
  height: 75px;
  transition: all 0.3s;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
  &:hover {
    width: 700px;
  }
}

.ss-one {
  background-color: #e0a939;
}

.ss-two {
  background-color: #b4bd68;
}
.ss-three {
  background-color: #689091;
}
.ss-four {
  background-color: #526b80;
}
.ss-five {
  background-color: #6a5281;
}

.branding {
  display: flex;
  align-items: center;
  padding: 100px 0px;
  @media (max-width: $breakpoint-tablet) {
    display: block;
    padding: 0px 0px;
    height: 1200px;
    &.maps {
      height: 700px;
    }
  }
  @media (max-width: $breakpoint-phone) {
    &.maps {
      height: 600px;
      padding: 50px 0px;
    }
  }
}

.color-group {
  display: flex;
  position: relative;
  float: right;
  right: -85px;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    right: 0px;
  }
  @media (max-width: $breakpoint-phone) {
    display: block;
    position: relative;
    float: none;
    right: 0;
  }
}

.hex-text {
  color: white;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  padding: 15px 20px;
}

.single-logo {
  width: 300px;
  @media (max-width: $breakpoint-tablet) {
    width: 250px;
  }
}

.sslogo-group {
  display: block;
  text-align: center;
  margin: 100px 0px;
  @media (max-width: $breakpoint-phone) {
    margin: 0px 0px;
  }
}

.ss-logos {
  height: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $breakpoint-phone) {
    height: 900px;
    display: block;
    margin-left: 10%;
  }
}

.value-prop {
  font-size: 70px;
  color: white;
  font-weight: 700;
  @media (max-width: $breakpoint-phone) {
    font-size: 50px;
    padding-bottom: 50px;
  }
}

.prototyping {
  display: flex;
  justify-content: space-evenly;
  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
  @media (max-width: $breakpoint-phone) {
    display: block;
  }
}

.prototype {
  @media (max-width: $breakpoint-phone) {
    margin: -50px;
  }
}

iframe {
  transform: scale(0.75);
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.pitch {
  margin: 20px 0px;
}

.section-padding {
  padding-top: 40px;
}

.black {
  color: black;
}

.research {
  display: flex;
  margin: 100px 0px;
  @media (max-width: $breakpoint-tablet) {
    align-items: center;
    margin: 50px 0px;
  }
  @media (max-width: $breakpoint-phone) {
    display: block;
  }
}

.research img {
  width: 35%;
  @media (max-width: $breakpoint-tablet) {
    width: 35%;
    margin-right: 50px;
  }
  @media (max-width: $breakpoint-phone) {
    width: 100%;
    margin-bottom: 100px;
  }
}

.full-width-p .detail-container .paragraph {
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    padding: 10px 0px;
  }
}
