.bio {
  font-size: 14px;
  width: 60%;
}

.about-group {
  display: flex;
  justify-content: space-around;
}

.interests {
  color: white;
  text-align: center;
  display: inline-block;
  justify-content: space-between;
}

.individual-interest {
  padding: 25px;
}

.individual-interest img {
  padding-bottom: 10px;
  width: 125px;
}

.about-tabs {
  display: flex;
}

h4 {
  font-size: 75px;
  color: white;
  margin: 0px 0px 40px 0px;
  padding-right: 80px;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 1;
  }
}
