.introduction {
  position: absolute;
  right: 23%;
}

.introduction h1 {
  font-size: 30px;
  margin: 10px 0px;
}

.introduction h2 {
  font-size: 18px;
  margin: 10px 0px;
  padding-bottom: 20px;
}
