.lmp-one {
  background-color: #7be9c2;
}

.lmp-two {
  background-color: #e6b3b6;
}
.lmp-three {
  background-color: #facc7a;
}
.lmp-four {
  background-color: #7aa8fa;
}
.lmp-five {
  background-color: #cba6e8;
}

.lmp-screen-group img {
  width: 600px;
  margin-bottom: 100px;
}

.img-right {
  float: right;
}

.lmp-research {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
}
