@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700");

html,
body {
  margin: 0;
  height: 100%;
  background-color: #1d1f23;
  font-family: "Montserrat", sans-serif;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

h1,
h2,
p {
  color: white;
}

.screen-container {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.project-wrapper {
  display: flex;
  position: relative;
  top: 25%;
}

.intro-wrapper {
  display: flex;
  position: relative;
  top: 25%;
}

.flag {
  position: absolute;
  left: 15%;
  z-index: 1;
}

.flag img {
  width: 350px;
}

button {
  height: 25px;
  width: 100px;
  color: #1d1f23;
  border-width: 0px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #4caf50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.custom-description {
  position: absolute;
  right: 15%;
}

.letter {
  text-transform: uppercase;
  position: absolute;
  font-size: 350px;
  font-weight: 700;
  left: 5%;
  padding-top: 20px;
}

.e {
  left: 30%;
}

.s {
  top: -220px;
}

.i {
  left: 10%;
}

.g {
  left: 30%;
}

.n {
  top: -200px;
}

.t {
  left: 8%;
}

.u {
  top: -200px;
  left: 30%;
}

.y {
  top: -200px;
  left: 30%;
}
